<div class="egreso">
    <h2 class="egreso_titulo">Egresos</h2>

    <div class="elemento limpiarEstilos">
      <div class="elemento_descripcion">Renta departamento</div>
      <div class="rigth limpiarEstilos">
        <div class="elemento_valor">- 900.25</div>
        <div class="elemento_porcentaje">21%</div>
        <div class="elemento_eliminar">
          <button class="elemento_eliminar--btn">
            <i class="ion-ios-close-outline"></i>
          </button>
        </div>
      </div>
    </div>


    <div class="elemento limpiarEstilos">
      <div class="elemento_descripcion">Compra de ropa</div>
      <div class="rigth limpiarEstilos">
        <div class="elemento_valor">- 435.25</div>
        <div class="elemento_porcentaje">10%</div>
        <div class="elemento_eliminar">
          <button class="elemento_eliminar--btn">
            <i class="ion-ios-close-outline"></i>
          </button>
        </div>
      </div>
    </div>

  </div>