<div class="cabecero">
    <div class="presupuesto">
      <div class="presupuesto_titulo">Presupuesto disponible</div>
  
      <div class="presupuesto_valor">+ {{ presupuestoTotal }}</div>
  
      <div class="presupuesto_ingreso limpiarEstilos">
        <div class="presupuesto_ingreso--texto">Ingreso</div>
        <div class="rigth">
          <div class="presupuesto_ingreso--valor">+ {{ ingresoTotal }}</div>
          <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
        </div>
      </div>
      
      <div class="presupuesto_egreso limpiarEstilos">
        <div class="presupuesto_egreso--texto">Egreso</div>
        <div class="rigth limpiarEstilos">
          <div class="presupuesto_egreso--valor">- {{ egresoTotal }}</div>
          <div class="presupuesto_egreso--porcentaje">{{ porcentajeTotal }}</div>
        </div>
      </div>
    </div>
  </div>